.grid {
  display: grid;
  grid-template-columns: 1fr;
  @include mq(tablet) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.grid--align-start {
  @include mq(tablet) {
    align-items: flex-start;
  }
}

.grid--gap {
  gap: gutter(medium);

  @include mqBetween(tablet, desktop-lg) {
    gap: gutter(medium);
  }

  @include mq(desktop-xl) {
    gap: gutter(xlarge);
  }
}

.grid--gap-vertical {
  @include mqBetween(phone-xs, phone-md) {
    gap: 0;
  }

  @include mqBetween(tablet, desktop-lg) {
    gap: gutter(medium) 0;
  }

  @include mq(desktop-xl) {
    gap: gutter(xlarge) 0;
  }
}

.grid--gap-horizontal {
  @include mqBetween(phone-xs, phone-md) {
    gap: 0;
  }

  @include mqBetween(tablet, desktop-lg) {
    gap: 0 gutter(medium);
  }

  @include mq(desktop-xl) {
    gap: 0 gutter(xlarge);
  }
}

.grid--gap-mobile {
  @include mqBetween(phone-xs, phone-md) {
    display: grid;
    gap: gutter(large);
  }
}