.error {
	height: 100vh;
}

.error--404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error__wrap {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	align-items: center;
	margin-bottom: rem(40);
}

.error__title {
	font-size: rem(60);
	border-right: rem(1) solid color(gray--border);
	font-family: font(text--default);
	font-weight: weight(bold);
	padding-right: rem(20);
	margin-right: rem(20);
  margin-bottom: 0;
  color: #000;
}

.error__text {
	max-width: rem(120);
	line-height: 1.4;
}
